@font-face {
    font-family: 'wisdom';
    src: url('/vendor/WisdomScript.woff');
}
@font-face {
    font-family: "montserrat";
    src: url('/vendor/Montserrat.ttf');
}
@font-face {
    font-family: "droiditalic";
    src: url('/vendor/DroidSerif-Italic.ttf');
}
@font-face {
    font-family: "robotoslab";
    src: url('/vendor/RobotoSlab-VariableFont_wght.ttf');
}
$transition: all 1s;
/* GLOBAL */
*, *::before, *::after {
    box-sizing: border-box;
}
.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
}
.btn-one {
    font-family: "montserrat";
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #fed136;
    border-color: #fed136;
    min-width:240px;
    &:hover {
        color:black;
    }
}
body {
    margin: 0 auto;
}
.container {
    max-width: 1140px;
    padding: 0;
    margin: auto;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* HOME SECTION */
.home {
    width: 100%;
    min-height: 500px;
    height: 700px;
    background-image: url("/images/splash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    &::after {
        background-color: black;
        content:"";
        width: 100%;
        height: 700px;
        position: absolute;
        opacity: 0.5;
        top: 0;
        left: 0;
    }
    .container{
        display: flex;
    }
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    padding-top: 45px;
    z-index: 2;
    li a {
        font-family: "montserrat";
        font-size: 14px;
        color:white;
        text-decoration: none;
        padding-left: 40px;
        cursor: pointer;
        &:hover {
            color: yellow;
        }
    }
}
.navbar-brand {
    font-family: "wisdom";
    color: yellow;
    font-size: 26px;
}
.navbar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
        display: inline-block;
    }
}
.splash-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin: auto ;
    z-index: 2;
    color: white;
    transform: translateY(50%);
    h3 {
        font-family: "droiditalic";
        font-size: 40px;
        margin: 0 0 40px 0;
    }
    h1 {
        font-family: "montserrat";
        font-size: 70px;
        font-weight: bold;
        margin: 0 0 60px 0;
    }
}
/* SERVICES SECTION */
.section-title {
    text-align: center;
    font-size: 48px;
    margin: 0 0 72px 0;
    color: black;
}
.services{
    margin-top: 120px;
    margin-bottom: 120px;
    h2 {
        font-family: "montserrat";
        font-size: 40px;
        font-weight: bold;
        margin: 10px auto;
    }
    h4{
        font-family: "droiditalic";
        font-size: 16px;
        color: #777777;
        margin-bottom: 80px;
    }
}
.servicebox {
    flex: 0 0 33.333%;
    position: relative;
    width: 33.333%;
    text-align: center;
    padding: 0 35px;
    p {
        font-family: "robotoslab";
        font-size: 14px;
        inline-size: 100%;
        overflow-wrap: break-word;
        color: #777777;
    }
    h4 {
        font-family: "montserrat";
        font-size: 18px;
        font-weight: bold;
        margin: 12px 0 12px 0;
        line-height: 75px;
    }
    i {
        font-size: 30px;
        background: transparent;
        width: 70px;
        height: 70px;
        line-height: 70px;
        color: #fed136 ;
        border-radius: 50%;
        text-align: center;
        border: 4px solid #fed136;
    }
}
/* PORTFOLIO */
.portfolio{
    background: #f7f7f7;
    padding-top: 120px;
    padding-bottom: 120px;
    h2 {
        font-family: "montserrat";
        font-size: 40px;
        font-weight: bold;
        margin: 10px auto;
    }
    h4{
        font-family: "droiditalic";
        font-size: 16px;
        color: #777777;
        margin-bottom: 80px;
    }
}
.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    margin-bottom: 50px;
}
.card-image {
    position: relative;
    overflow: hidden;
    max-height:300px;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #e5e5e5;
        opacity: 0;
        transition: .5s ease all;
    }
    &:hover img {
        scale: (1.2);
        opacity: 0.7;
    }
}
img {
    transition: .5s ease all;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card-body {
    text-align: center;
    h3 {
        font-family: "montserrat";
        font-weight: bold;
        font-size: 18px;
        color: #333333;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    h5 {
        margin-top: 0px;
        margin-bottom: 30px;
        font-family: "droiditalic";
        font-size: 14px;
        color: #777777;
    }
}
/* FOOTER */
.footer-text{
    font-family: "monsterrat";
    font-size: 14px;
    font-weight: bold;
    color: #555555;
    p {
        margin: 0;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }
}
.footer-icons {
    i {
        font-size: 18px;
        background: black;
        color: white;
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        border-radius: 50%;
    }
    ul {
        text-align: center;
        width: 100%;
        padding: 0;
    }
    ul li {
        display: inline;
        font-size: 0;
        padding: 0 10px 0 0;
    }
}
.twitter:hover {
    color: white;
    background:#00aced;
}
.facebook:hover {
    color: white;
    background :#3b5998;
}
.pinter:hover {
    color: white;
    background: #cb2028;
}
.google:hover {
    color: white;
    background: #da2713;
}
@media (max-width: 767px) {
    .navbar-brand{
        margin: 0 auto;
        padding: 0 0 30px 0;
        font-size: 52px;
    }
    .navbar ul {
        margin: 0 auto;
    }
    .navbar li a {
        padding: 0 20px 0 20px;
    }
    .splash-title {
        transform: translateY(70%);
        h3 {
            font-size: 20px;
        }
        h1 {
            font-size: 35px;
        }
    }
    .wrapper {
        flex-direction: column;
        .servicebox {
            width: 100%;
            padding-bottom: 30px;
            i {
                border-color: black;
            }
            p {
                margin:0 auto;
                width:70%;
                text-align: center;
                overflow-wrap: break-word;
            }
        }
    }
    .portfolio {
        .container {
            max-width: 100%;
            .row {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .footer-text {
        padding-top: 10px;
        order: 2;
        p{
            top: 0;
            left: 0;
            text-align: center;
            order: 2;
        }
    }
    .footer-icons {
        order: 1;
    }
}