@font-face {
    font-family: 'wisdom';
    src: url('/vendor/WisdomScript.woff');
}
@font-face {
    font-family: "montserrat";
    src: url('/vendor/Montserrat.ttf');
}
@font-face {
    font-family: "droiditalic";
    src: url('/vendor/DroidSerif-Italic.ttf');
}
@font-face {
    font-family: "robotoslab";
    src: url('/vendor/RobotoSlab-VariableFont_wght.ttf');
}

.dupa{
    font-family:"robotoslab";
}