@font-face {
  font-family: "wisdom";
  src: url("/vendor/WisdomScript.woff");
}
@font-face {
  font-family: "montserrat";
  src: url("/vendor/Montserrat.ttf");
}
@font-face {
  font-family: "droiditalic";
  src: url("/vendor/DroidSerif-Italic.ttf");
}
@font-face {
  font-family: "robotoslab";
  src: url("/vendor/RobotoSlab-VariableFont_wght.ttf");
}
/* GLOBAL */
*, *::before, *::after {
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}

.btn-one {
  font-family: "montserrat";
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  min-width: 240px;
}
.btn-one:hover {
  color: black;
}

body {
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  padding: 0;
  margin: auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* HOME SECTION */
.home {
  width: 100%;
  min-height: 500px;
  height: 700px;
  background-image: url("/images/splash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.home::after {
  background-color: black;
  content: "";
  width: 100%;
  height: 700px;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
}
.home .container {
  display: flex;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding-top: 45px;
  z-index: 2;
}
.navbar li a {
  font-family: "montserrat";
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding-left: 40px;
  cursor: pointer;
}
.navbar li a:hover {
  color: yellow;
}

.navbar-brand {
  font-family: "wisdom";
  color: yellow;
  font-size: 26px;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navbar ul li {
  display: inline-block;
}

.splash-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin: auto;
  z-index: 2;
  color: white;
  transform: translateY(50%);
}
.splash-title h3 {
  font-family: "droiditalic";
  font-size: 40px;
  margin: 0 0 40px 0;
}
.splash-title h1 {
  font-family: "montserrat";
  font-size: 70px;
  font-weight: bold;
  margin: 0 0 60px 0;
}

/* SERVICES SECTION */
.wrapper-title {
  text-align: center;
  font-size: 48px;
  margin: 0 0 72px 0;
  color: black;
}

.services {
  margin-top: 120px;
}
.services h2 {
  font-family: "montserrat";
  font-size: 40px;
  font-weight: bold;
  margin: 10px auto;
}
.services h3 {
  font-family: "droiditalic";
  font-size: 16px;
  color: #777777;
  margin-bottom: 80px;
}

.servicebox {
  flex: 0 0 33.333%;
  position: relative;
  margin-bottom: 120px;
  width: 33.333%;
  text-align: center;
  padding: 0 35px;
}
.servicebox p {
  font-family: "robotoslab";
  font-size: 14px;
  inline-size: 100%;
  overflow-wrap: break-word;
  color: #777777;
}
.servicebox h4 {
  font-family: "montserrat";
  font-size: 18px;
  font-weight: bold;
  margin: 12px 0 12px 0;
  line-height: 75px;
}
.servicebox i {
  font-size: 30px;
  background: transparent;
  width: 70px;
  height: 70px;
  line-height: 70px;
  color: #fed136;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fed136;
}

/* PORTFOLIO *//*# sourceMappingURL=style.css.map */